.banner__titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
    font-size: 20px;
    font-weight: 800px;
    padding: 0.5em 1em;
    margin: 1em 0.7em;
    border-radius: 10px;    
}

.banner__texto {
    font-size: 20px;
    font-weight: 800px;
}

.banner__imagem {
    width: 92%;
    border-radius: 20px;
    margin: 0 1em;
}

.banner__foto {
    width: 200px;
    border-radius: 20px;
    margin-left: 1em;
}

.banner__informacoes {
    background: rgba(0, 0, 0, 0.2);
    padding: 1em;
    margin: 1em;
    border-radius: 10px;
}

.banner__informacoes__titulo {
    font-size: 16px;
    font-weight: 700;
}

.banner__informacoes__texto {
    font-size: 14px;
    font-weight: 200;
    margin-top: 1em;
}

.banner__links {
    display: flex;
    align-items: center;
    gap: 1em;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-decoration: none;
    padding: 0.5em 1em;
    margin: 1em;
}

.banner__links__imagem {
    width: 30px;
}

.banner__links__texto {
    color: var(--cor-fonte-principal);
    font-weight: 300;
}

.banner__texto__trabalho {
    color: var(--cor-fonte-principal);
    font-weight: 300;
    font-size: 16px;
    padding: 1em;
}

.banner-1024px {
    display: none;
}





@media screen and (min-width: 1024px) {

.banner {
    display: none;
}
    
.banner-1024px {
    display: block;
}

.banner-1024px__informacoes {
    display: flex;
    gap: 2em;
}
    
.banner-1024px__informacoes__dados {
    display: flex;
    flex-direction: column;
}
    
.banner__imagem-1024px {
    width: 364px;
    height: 455px;
    border-radius: 10px;
    margin-top: 1em;
}
    
.banner__imagem-1024px__aboutme {
    width: 600px;
    height: 457px;
    border-radius: 10px;
    margin-top: 1em;    
}

.banner__informacoes {
    width: 30vw;
    display: flex;
    flex-direction: column;
}    

.banner__links {
    padding: 0.5em;
    margin: 1em 0;
}

.banner__links__texto {
    font-size: 14px;
    padding: 0 0.5em;
}

.banner-1024px__informacoes-1024px {
    display: flex;
    margin: 1em;
}

.banner__informacoes__jogos {
    display: flex;
    flex-direction: column;  
    background: rgba(0, 0, 0, 0.2);
    padding: 1em;
    border-radius: 10px;
    width: 50vw;
}

.banner-1024px__informacoes-1024px__jogos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1em;
    gap: 1em;
}

.banner__links__jogos {
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-decoration: none;
    padding: 0.5em 1em;
    margin: 0m 0;
    width: 270px;
}

.banner__foto__jogos{
    width: 300px;
    border-radius: 10px;
}

.banner__informacoes__titulo__jogos {
    font-size: 20px;
}






}